# 强制包含项目配置文件
!requirements.txt
!Pipfile
!Pipfile.lock
!pyproject.toml

# 排除虚拟环境
.venv/
venv/
env/

# Python 特定排除
__pycache__/
*.pyc
*.pyo
*.pyd

# 通用开发排除
.DS_Store
Thumbs.db
*.log
.env
xconnector-recovered-backup/

# 日志排除
*.log
logs/
log/
/xconnector/utils/xconnector/

# docker排除
docker-images/
xconnector-deployment-20250723_143424/